[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bootstrap-flask = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
flask = "*"

[dev-packages]
watchdog = "*"
faker = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
